{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/static/todo/css/lib/jquery-ui-1.10.0.custom.css">
	<link rel="stylesheet" type="text/css" href="/static/todo/css/style.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="/static/todo/js/lib/jquery-ui-1.10.3.custom.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<title>To-do List Demonstration</title>
	<script>
		$(function() {
			$( ".datepicker" ).datepicker({dateFormat:"yy-mm-dd"});
		});
		TODOS_APIKEY = "{{ api_key }}";
		TODOS_USERNAME = "{{ username }}";
	</script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">To-do List Demonstration</h3>
		</div>
		{% block content %}
		{% endblock %}
	</div>
	<script type="text/javascript" src="/static/todo/js/lib/underscore.js"></script>
	<script type="text/javascript" src="/static/todo/js/lib/backbone.js"></script>
	<script type="text/javascript" src="/static/todo/js/lib/backbone-tastypie.js"></script>
	<script type="text/javascript" src="/static/todo/js/application.js"></script>
</body>
</html>