{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/static/todo/css/jquery-ui-1.10.0.custom.css">
	<link rel="stylesheet" type="text/css" href="/static/todo/css/style.css">
	<script type="text/javascript" src="/static/todo/js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="/static/todo/js/jquery-ui-1.10.3.custom.min.js"></script>
	<title>Toptal To-do List Demonstration</title>
	<script>
		$(function() {
			$( ".datepicker" ).datepicker({dateFormat:"yy-mm-dd"});
		});
		TODOS_APIKEY = "{{ api_key }}";
		TODOS_USERNAME = "{{ username }}";
	</script>
	<style>
		div.todolist {
			margin-left:auto;
			margin-right:auto;
			max-width:70%;
		}
	</style>
</head>
<body>
	<div class="todolist panel panel-default" id="todolist">
		<div class="panel-heading">
			<h3 class="panel-title">Toptal To-do List Demonstration</h3>
		</div>
		<div class="table-responsive panel-body">
			<table class="table table-striped" id="todotable">
				<thead>
					<tr>
						<th></th>
						<th>Title <span class="glyphicon glyphicon-sort"></span></th>
						<th>Due date <span class="glyphicon glyphicon-sort"></span></th>
						<th>Priority <span class="glyphicon glyphicon-sort"></span></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="todoitem" id="addnewitem">
						<td class="completed"></td>
						<td class="title"><input type="text" id="newtitle" placeholder="New todo item"></td>
						<td class="duedate"><input type="text" class="datepicker" id="newduedate"></td>
						<td class="priority">
							<select id="newpriority">
								<option value="5">Lowest</option>
								<option value="4">Low</option>
								<option value="3"selected>Medium</option>
								<option value="2">High</option>
								<option value="1">Highest</option>
							</select>
						</td>
						<td class="addbutton"><button type="button" class="btn btn-primary">Add</button></td>
					</tr>
				</tbody>
				<tbody id="todotbody">
					<script id="todoitem-template" type="text/template">
						<td class="completed"><input type="checkbox"<%= completed ? "checked" : "" %>></td>
						<td class="title"><input type="text" value="<%= title %>" class="view"></td>
						<td class="duedate"><input type="text" class="view datepicker" value="<%= due_date %>"></td>
						<td class="priority"><select class="priority" class="view" <%= completed ? "disabled=true" : "" %>>
							<option value="5"<% if (priority == "5") { %> selected<% } %>>Lowest</option>
							<option value="4"<% if (priority == "4") { %> selected<% } %>>Low</option>
							<option value="3"<% if (priority == "3") { %> selected<% } %>>Medium</option>
							<option value="2"<% if (priority == "2") { %> selected<% } %>>High</option>
							<option value="1"<% if (priority == "1") { %> selected<% } %>>Highest</option>
						</select></td>
						<td><button type="button" class="removeitem btn btn-danger btn-xs">Remove</button></td>
					</script>
				</tbody>
			</table>
		</div>
		<div class="panel-footer">
			<h4>{{ username }}, <small>you can also access the API using your API key: {{ api_key }}.</small></h4>
		</div>
	</div>
	<script type="text/javascript" src="/static/todo/js/underscore-min.js"></script>
	<script type="text/javascript" src="/static/todo/js/backbone-min.js"></script>
	<script type="text/javascript" src="/static/todo/js/backbone-tastypie.js"></script>
	<script type="text/javascript" src="/static/todo/js/application.js"></script>
</body>
</html>