tr.todoitem td .view {
	background-color: transparent;
	border: none;
	color: #000000;
	box-shadow: none;
}

tr.completeditem td .view {
	color: lightgray;
}

.glyphbutton {
	margin-left:2px;
}

.panel {
	margin-top: 3%;
}

.loginform input {
	margin-left:0px 10px;
}

.loginform .signuponly{
	display: none;
}

div.panel-default {
	margin-left:auto;
	margin-right:auto;
	max-width:70%;
}

div#newtitle, div.editing {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	background-color: white;
	background-color: -moz-field;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555555;
	display: block;
	font-size: 14px;
	min-height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: middle;
	width: 100%;
}

div#newtitle:focus, div.editing:focus {
	border-color: #66AFE9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	outline: 0 none;
}

input[type=text] {
	font-size: 14px;
	min-height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
}

select {
	font-size: 14px;
	min-height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
}