tr.todoitem td input {
	width: 100%;
}

tr.todoitem td .view {
	background-color: transparent;
	border: none;
	color: #000000;
	box-shadow: none;
}

tr.completeditem td .view {
	color: lightgray;
}

.glyphicon {
	margin-left:10px;
}

.panel {
	margin-top: 3%;
}